html {
  font-size: 16px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root {

  --Tomato: hsl(4, 100%, 67%);

  /* Neutral */
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Grey: hsl(231, 7%, 60%);
  --Default-White: hsl(0, 0%, 100%);

}

@font-face {
  font-family: 'Roboto Regular';
  src: url(assets/fonts/Roboto-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url(assets/fonts/Roboto-Bold.ttf) format('truetype');
}

body {
  font-family: 'Roboto Regular';
  color: var(--Dark-Slate-Grey);;
  overflow: none;
}

h1 {
  font-family: 'Roboto Bold';
  font-size: 2.3rem;
  color: var(--Dark-Slate-Grey);
}

p {
  font-size: 1rem;
}

/* main */
main {
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 23.5rem;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1.5rem;
}

.header-image-mobile {
  margin-bottom: 2rem;
}

.header-image-desktop {
  display: none;
}

.p-img-control  {
  display: flex;
  gap: 1rem;

    img {
    width: 1.3rem;
    align-self: flex-start;
    }
}

.label-error-text {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.label-error-text label {
  font-size: 0.8rem;
  font-family: 'Roboto Bold';
  color: var(--Dark-Slate-Grey);
}

.error-text{
  font-size: 0.8rem;
  opacity: 0;
}

.label-error-text .error {
  font-size: 0.8rem;
  font-family: 'Roboto Bold';
  color: tomato;
}

.error-text.error{
  opacity: 1;
}

form {
  margin-top: 1.5rem;
}

form input {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid var(--Grey);
  border-radius: 0.5rem;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

form input:focus {
  outline: none;
}

form input.error {
  border-color: var(--Tomato);
  color: var(--Tomato);
  background-color: hsla(4, 100%, 67%, 0.201);
}

form button {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--Dark-Slate-Grey);
  color: var(--Default-White);
  font-family: 'Roboto Bold';
  font-size: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

.is-subscribed {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 1.5rem;
  width: 100%;
  height: 100%;

   img {
    margin-top: 4rem;
    margin-bottom: 2rem;
   }
   h1 {
    margin-bottom: 1.5rem;
   }
   p {
    margin-bottom: 11rem;
   }
   button {
    width: 100%;
    padding: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--Dark-Slate-Grey);
    color: var(--Default-White);
    font-family: 'Roboto Bold';
    font-size: 1rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
   }
}

.overlay {
  display: block;
  
}

/* footer */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (min-width: 48rem) {
  body {
    background-color: var(--Dark-Slate-Grey);
  }
  main {
    height: 95vh;
    display: flex;
    align-items: center;
  }
  .card {
    flex-direction: row-reverse;
    max-width: 52rem;
    background-color: white;
    padding: 1rem;
    border-radius: 2rem;
    align-self: center;

    .card__content {
      max-width: 60%;
      padding: 0 2.5rem;
    }

    .header-image-mobile {
      display: none;
    }

    .header-image-desktop {
      display: flex;
      max-width: 45%;
    }
  }

  .is-subscribed {
    top: 50%;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: auto 0;
    width: 27rem;
    height: 27rem;
    border-radius: 2rem;
    background-color: rgb(255, 255, 255);
    padding: 1rem 3rem;
    z-index: 20;

    img {
      margin-top: 1rem;
    }

    p {
      margin-bottom: 2rem;
    }
  
  }

  .desktop-overlay-bg {
    background-color: var(--Charcoal-Grey);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 5;
  }
  
.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(0, 0%, 59%); }
}